[Desktop Entry]
Name=Windows10 dark
X-KDE-PluginInfo-Author=酸柠檬猹/SourLemonJuice
X-KDE-PluginInfo-Email=SourLemonJuice233@outlook.com
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Windows10-dark
X-KDE-PluginInfo-Version=0.0.0-rolling
