[Desktop Entry]
Name=Windows10 dark
Comment=The Windows 10 decoration for KDE Plasma.
X-KDE-PluginInfo-Name=Windows10-dark
X-KDE-PluginInfo-Author=酸柠檬猹/SourLemonJuice
X-KDE-PluginInfo-Email=SourLemonJuice233@outlook.com
X-KDE-PluginInfo-Website=https://github.com/SourLemonJuice/windows10-kde-decoration
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Version=1.1.0
